<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="NotesServiceUrl" value="http://backend/" />
  </appSettings>

  <connectionStrings>
    <add name="Redis" connectionString="RedisHost:6379,abortConnect=false"/>
  </connectionStrings>
</configuration>