<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <appSettings>
    <add key="Port" value="13333" />
    <add key="BaseHostUri" value="localhost"/>
  </appSettings>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  
  <connectionStrings>
    <add name="EntityDatabase" connectionString="Server=localhost;Database=Notes;Trusted_Connection=True;"/>
  </connectionStrings>
  
</configuration>