<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="Port" value="80" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="BaseHostUri" value="*" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>

  <connectionStrings>
    <add name="EntityDatabase" connectionString="Data Source=DatabaseHost\SQLEXPRESS;Initial Catalog=Notes;User Id=sa;Password=Password_1234_!;" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
  </connectionStrings>
</configuration>