@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP MVC and Docker</h1>
    <p class="lead">Rendered by @Environment.MachineName</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Sample app running in Docker</h2>
        <p>
            
        </p>
    </div>
</div>